.contacts {
    font-style: normal;
    text-align: right;
    /*position: absolute;
    top: 20px;
    right: 0px; */
    
}
.contacts__text {
    color: #9A9A9A;
    font-size: 11px;
}
.contacts__phone {
    display: inline-block;
    text-decoration: none;
    font-size: 26px;
    margin-bottom: -1px;

}
.workhours {   
    font-size: 13px;    
    top: 60px;
    
}
.workhours:hover .workhours__info {
    display: block;
}
.workhours__info {
    background: url(../../img/Прямоугольник\,\ скругл.\ углы\ 9.png) no-repeat;
    position: absolute;
    display: none;
    text-align: left;
    color: #1E1F20;
    transform: translateX(32px);
}
.workhours__list {
    padding: 20px;

}