.menu {
   /* position: absolute;
    top: 33px;
    left: 164px; */
}

.menu__item {
    /*расположили в строчку*/
    display: inline-block;
    vertical-align: middle;
    margin-right: 52px;
}

.menu__item:last-child {
    margin: 0;
}
.menu__link {
    font-size: 14px;
    text-decoration: none;
}
.menu__link:hover {
    color: #DA0100;
}