.page-content {
    background: white;
    color: #303030;
    padding: 94px 0 77px;
}
.page-content__list {
    margin-bottom: 65px;
}

.page-content__item {
    display: flex;
    margin-bottom: 50px;
}
.page__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.35;
    margin-bottom: 23px;
    letter-spacing: 1.8px;
}