.reviews {
    column-count: 2;
    column-gap: 27px;
    margin-bottom: 55px;
}
.avatar {
    width: 142px;
    height: 142px;
    overflow: hidden;
    margin-right: 20px;
}

.reviews__item {
    margin-bottom: 17px;
}
.review {
    display: inline-flex;
    flex-direction: column;
    padding: 54px 30px 32px;
    background: #F4F5F5;
}
.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}
.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #2E77A4;
    margin-bottom: 12px;
}
.review__user::after {
    content: url(./img/reviews/vk-blue\ 1.png);
    height: 29px;  
    margin-left: 20px;  
}
.review__tags {
    display: flex;
    align-items: flex-start;
}
.review__title {
    font-weight: bold;
    font-size: 30px;
    color: #1A1B1E;
    margin-bottom: 13px;
 }
.review__text {
    font-size: 16px;
    color: #818181;
    margin-bottom: 44px;
    line-height: 27px;
    word-spacing: 5px;
 }
.review__date {
    color: #1A1B1E;
    font-size: 14px;
    font-weight: bold;
 }