.section-one {
    width: 520px;
    margin-bottom: 244px;
    
}
.section-one__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.35;
    margin-bottom: 23px;
    letter-spacing: 1.8px;
}
.section-one__text {
    font-size: 18px;
    margin-bottom: 30px;
    letter-spacing: 0.3px;
}